:root {
  --dark-low: #121c26;
  --dark-main: #1d232e;
  --dark-high: #202733;

  --dark-low-white-10: #343d46;

  --white-01: rgba(255, 255, 255, 0.1);
  --white-02: rgba(255, 255, 255, 0.2);

  --ansi-black: #000000;
  --ansi-red: #f77172;
  --ansi-green: #65a884;
  --ansi-yellow: #cec999;
  --ansi-blue: #74add2;
  --ansi-magenta: #a980c4;
  --ansi-cyan: #2d949f;
  --ansi-white: #eeeeee;
}

@-moz-document domain("github.com") {
  [data-color-mode='light'][data-light-theme*='dark'],
  [data-color-mode='dark'][data-dark-theme*='dark'] {
    --bgColor-default: var(--dark-low);
  }

  @media (prefers-color-scheme: dark) {
    [data-color-mode='light'][data-light-theme*='dark'],
    [data-color-mode='dark'][data-dark-theme*='dark'] {
      --bgColor-default: var(--dark-low);
    }
  }

  [data-color-mode='dark'][data-dark-theme='dark_dimmed'],
  [data-color-mode='dark'][data-dark-theme='dark_dimmed'] ::backdrop,
  [data-color-mode='auto'][data-dark-theme='dark_dimmed'],
  [data-color-mode='auto'][data-dark-theme='dark_dimmed'] ::backdrop,
  [data-color-mode='dark'][data-dark-theme='dark_high_contrast'],
  [data-color-mode='dark'][data-dark-theme='dark_high_contrast'] ::backdrop,
  [data-color-mode='auto'][data-dark-theme='dark_high_contrast'],
  [data-color-mode='auto'][data-dark-theme='dark_high_contrast'] ::backdrop,
  [data-color-mode='dark'][data-dark-theme='dark_colorblind'],
  [data-color-mode='dark'][data-dark-theme='dark_colorblind'] ::backdrop,
  [data-color-mode='auto'][data-dark-theme='dark_colorblind'],
  [data-color-mode='auto'][data-dark-theme='dark_colorblind'] ::backdrop {
    --bgColor-default: var(--dark-low);
    --bgColor-inset: var(--dark-low);
    --overlay-bgColor: var(--dark-main);
    --button-default-bgColor-rest: var(--dark-high);
    --bgColor-muted: var(--dark-high);
    --fgColor-accent: var(--ansi-blue);

    --borderColor-default: var(--white-01);
    --borderColor-muted: var(--white-01);
    --button-default-borderColor-rest: var(--white-01);
  }

  @media (prefers-color-scheme: dark) {
    [data-color-mode='dark'][data-dark-theme='dark_dimmed'],
    [data-color-mode='dark'][data-dark-theme='dark_dimmed'] ::backdrop,
    [data-color-mode='auto'][data-dark-theme='dark_dimmed'],
    [data-color-mode='auto'][data-dark-theme='dark_dimmed'] ::backdrop,
    [data-color-mode='dark'][data-dark-theme='dark_high_contrast'],
    [data-color-mode='dark'][data-dark-theme='dark_high_contrast'] ::backdrop,
    [data-color-mode='auto'][data-dark-theme='dark_high_contrast'],
    [data-color-mode='auto'][data-dark-theme='dark_high_contrast'] ::backdrop,
    [data-color-mode='dark'][data-dark-theme='dark_colorblind'],
    [data-color-mode='dark'][data-dark-theme='dark_colorblind'] ::backdrop,
    [data-color-mode='auto'][data-dark-theme='dark_colorblind'],
    [data-color-mode='auto'][data-dark-theme='dark_colorblind'] ::backdrop {
      --bgColor-default: var(--dark-low);
      --bgColor-inset: var(--dark-low);
      --overlay-bgColor: var(--dark-main);
      --button-default-bgColor-rest: var(--dark-high);
      --bgColor-muted: var(--dark-high);
      --fgColor-accent: var(--ansi-blue);

      --borderColor-default: var(--white-01);
      --borderColor-muted: var(--white-01);
      --button-default-borderColor-rest: var(--white-01);
    }
  }
}

@-moz-document domain("linkedin.com") {
  :root {
    --black: var(--dark-low);
    --cool-gray-100: var(--dark-main);
  }
}

@-moz-document domain("twitter.com"), domain("x.com") {
  body {
    background-color: var(--dark-low) !important;
  }

  header[role='banner'],
  .r-1b3ntt7,
  .r-yfoy6g {
    background-color: var(--dark-low);
  }

  .r-rs99b7.r-yfoy6g,
  .r-184en5c.r-yfoy6g,
  .r-1h8ys4a.r-yfoy6g,
  .r-1777fci.r-yfoy6g {
    background-color: var(--dark-main);
  }

  .r-8erxvq {
    background-color: var(--dark-main);
    border: 1px var(--dark-low-white-10) solid;
  }

  .r-ii8lfi {
    background-color: rgba(29, 35, 46, 0.8);
  }

  .iebopU {
    box-shadow: none !important;
  }

  .r-xnswec {
    box-shadow: none;
    outline: var(--dark-low-white-10);
    border: 1px var(--dark-low-white-10) solid;
  }

  .r-18bvks7 {
    border-color: var(--dark-low-white-10);
  }

  .r-1ila09b {
    border-bottom-color: var(--dark-low-white-10);
  }

  .r-kuekak {
    background-color: var(--dark-low-white-10);
  }

  .bpbVBQ {
    padding: 0 1rem;
  }
}

@-moz-document domain("twitch.tv") {
  :root {
    --color-hinted-grey-1: var(--dark-high);
    --color-hinted-grey-2: var(--dark-low);
    --color-hinted-grey-3: var(--dark-main);

    --input-border-width-default: 1px;
  }

  .iebopU,
  .cegTsp,
  .tw-root--theme-dark .chat-room {
    background-color: var(--color-hinted-grey-1);
  }

  .fiHaCw {
    background-color: var(--color-hinted-grey-1) !important;
  }

  .bgfzlx {
    background-color: var(--color-hinted-grey-2);
  }

  .bplHXs {
    border-top-color: transparent !important;
    background-color: var(--color-hinted-grey-2) !important;
  }

  .iebopU:focus,
  .iebopU:focus:hover {
    box-shadow: 0 0 0 var(--input-border-width-default)
        var(--color-border-input-focus),
      inset 0 0 0 var(--input-border-width-default)
        var(--color-border-input-focus);
  }

  .chat-wysiwyg-input__box,
  .iebopU {
    box-shadow: none;
  }

  .jqCeVt,
  .bgfzlx,
  .jKAcCJ {
    box-shadow: none !important;
  }

  .bPrCFG {
    border-color: transparent !important;
  }

  .gGbkYh {
    border-left-color: transparent !important;
  }

  .fiHaCw,
  .pMQwv {
    border-bottom-color: transparent !important;
  }

  .drBdyB.tw-combo-input__input {
    z-index: 1;
  }
}
